.contact_img {
    width: 100%;
}
h2 {
    color: var(--dark-blue);
    font-family: var(--naratif-bold);
    text-align: center;
    font-size: 35px;
}
label {
    font-family: var(--montserrat);
    font-size: 12px;
}
.contact_info > div {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 100px 200px;
    justify-content: center;
    align-items: center;
}

.contact_info img {
    margin-right: 20px;
}
.contact_text {
    justify-items: center;
}
.icons {
    display: inline-block;
}
form {
    /* border: 1px purple solid; */
    width: 90%;
    margin: 60px auto;

}
input[type=text],
textarea,
input[type=email] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    /* box-sizing: border-box; */
    border: 2px solid var(--orange);
}


/* ------------------------------ Submit button ----------------------------- */

.submit {
    text-align: center;
}
input[type=submit] {
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white-text);
    border-radius: 10px;

    padding: 12px 61px;
    font-size: 23px;
    text-transform: uppercase;
    font-family: var(--naratif-bold);

}
input[type=submit]:hover {
    background-color: #fff;
    border: 1px solid var(--orange);
    color: var(--orange);
}

@media(min-width: 600px) {
    .contact_info {
        margin: 0 auto;
        width: 440px;
    }
    p,
    label {
        font-size: 15px;
    }
}
/* --------------------------- media query laptop --------------------------- */
@media(min-width: 1024px) {
    .main_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1100px;
        margin: 0 auto;
        align-items: center;
    }
    form {
        width: 80%;
        margin-left: 20px;
    }
    p,
    label {
        font-size: 18px;
    }


}
