@font-face {
  font-family: "Naratif-Bold";
  src: url("/fonts/Akufadhl\ -\ Naratif\ Condensed\ Bold\ Italic.otf");
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.jacket_section,
.newsletter {
  max-width: 1100px;
  box-sizing: border-box;
}
.header-image {
  background-image: url("/images/header_image2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 24pc;
  text-align: center;
  position: relative;
  z-index: -1;
  top: -5pc;
}
.header-image h1 {
  font-family: "Naratif-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  position: relative;
  top: 8pc;
  color: #1e4959;
  text-shadow: 0px 0px 13px#FFFFFF;
  margin: 0;
}
.brand_section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 4pc;
  overflow-x: hidden;
}

.brand_section img {
  height: 19px;
  padding: 0 10px;
}
.product-cards {
  flex: 1 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #313c40;
}

.product-cards h2 {
  font-family: "Naratif-Bold", sans-serif;
}
.product-cards p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.product-card a {
  color: #313c40;
  text-decoration: none;
}
.jacket_section h1 {
  text-align: center;
  font-family: "Naratif-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  color: #313c40;
  letter-spacing: 2px;
}
.product-card img {
  height: 160px;
  /* margin: 40px; */
}
.product-card {
  padding-top: 10px;
  margin: 10px;
  width: 10pc;
  display: block;
  text-align: center;
}

.product-card:hover {
  box-shadow: 0 3px 16px 0 #1e4959;
}

/* ------------------------------- newsletter ------------------------------- */
.newsletter {
  margin: 0%30px;
  background-color: #72828c;
  color: aliceblue;
  padding: 2pc 0.5pc;
  border-radius: 0.5pc;
  text-align: center;
}
.newsletter__title {
  font-family: "Naratif-Bold", sans-serif;

  /* font-size: 2.5pc; */
  margin-bottom: 1pc;
}
.newsletter__description,
a {
  font-family: "Montserrat", sans-serif;
}
.newsletter__input {
  outline: none;
  border: none;
  width: 90%;
  font-size: 0.938pc;
}
.newsletter__subscribe {
  display: flex;
  column-gap: 0.5pc;
  background-color: white;
  padding: 0.5pc;
  border-radius: 0.5pc;
}

.newsletter__input::placeholder {
  color: #1e4959;
  font-family: "Montserrat", sans-serif;
  font-size: 0.938pc;
  font-weight: 300;
}
.newsletter a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #1e4959;
}

/* ----------------------------- mountain image ----------------------------- */
.mountain-img img {
  width: 100%;
}

/* --------------------------------- footer --------------------------------- */
footer {
  color: aliceblue;
  text-align: center;
  background-color: #72828c;
}
footer p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  padding-bottom: 20px;
  margin: 0;
}
footer img {
  width: 150px;
  margin: 10px;
}
.footer_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
}
.hide {
  display: none;
}
.links {
  padding: 0;
  margin: 0;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.links li {
  font-weight: 100;
  list-style: none;
  margin: 30px 0;
}
.social_links {
  display: flex;
  justify-content: center;
}
.social_links img {
  width: 40px;
  margin-top: 13px;
}
.copy {
  padding: 20px 0;
}

/* -------------------------------- discount -------------------------------- */

.disounct_icon img {
  position: absolute;
  height: 40px;
  padding: 7px;
  margin-left: 22px;
}
/* --------------------------- media query tablet --------------------------- */
@media only screen and (min-width: 600px) {
  .header-image h1 {
    font-size: 60px;
  }
  .brand_section img {
    height: 50px;
  }
  .footer_container {
    display: inline-flex;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer.hide {
    display: none;
  }
  .footer_logo {
    margin-left: 1pc;
  }
  .links {
    margin: 0 6pc;
  }
  .social_links {
    display: grid;
  }
}

/* --------------------------- media query laptop --------------------------- */
@media only screen and (min-width: 1024px) {
  header img {
    height: 3pc;
  }
  .header-image {
    height: 35pc;
  }
  .header-image h1 {
    font-size: 6rem;
    padding: 0;
    top: 9pc;
  }
  .jacket_section,
  .newsletter {
    max-width: none;
    justify-content: center;
    margin: 20px 0;
  }
  .jacket_section h1 {
    font-size: 64px;
  }
  .product-card {
    width: 18pc;
    margin: 0 10px;
  }
  .product-cards {
    margin: 0 2pc;
  }
  .product-card img {
    height: 17pc;
  }
  .product-cards h2 {
    font-size: 2rem;
  }
  .product-cards p {
    font-size: 20px;
  }
  .disounct_icon img {
    height: 56px;
    margin-left: 47px;
  }
  .newsletter {
    margin: 0 20%;
  }
  .newsletter__title {
    font-size: 3pc;
  }
  .footer_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  .links li {
    margin: 16px 0;
  }
  .links a {
    font-size: 18px;
  }
  footer p {
    padding: 20px 0;
  }
  .brand_section img {
    height: 4pc;
    padding: 0 10px;
  }
}
