@font-face {
  font-family: "Naratif-Bold";
  src: url("/fonts/Akufadhl-Naratif-Condensed-Bold-Italic.otf");
}
body {
  margin: 0;
  padding: 0;
}
/* -------------------------------------------------------------------------- */
/*                                    Menu                                    */
/* -------------------------------------------------------------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.89);
  padding: 0 5pc 0;
  box-shadow: 0pt 1px 40px var(--main-color-dark);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 48pt;
  z-index: 100;
}
header img {
  height: 2pc;
}
ion-icon .fas {
  font-size: 3rem;
  color: var(--main-color-dark);
  margin-top: 8px;
}
header label {
  position: relative;
  z-index: 99;
}
.menu-items {
  display: inline-flex;
}

#dropdown-menu {
  display: none;
}
#dropdown-menu:checked ~ nav {
  display: block;
}
nav {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 50;
  right: 0px;
  background-color: #fffffffa;
  overflow: hidden;
}
nav ul {
  padding-top: 7pc;
}
nav li {
  padding: 20px 0;
  text-align: center;
  list-style: none;
}
nav a {
  color: var(--main-color-dark);
  font-family: var(--naratif-bold);
  font-size: 2.5rem;
  letter-spacing: 3pt;
  text-decoration: none;
  text-transform: uppercase;
}
.nav_shop{
  position: relative;
  text-align: center;
}
.shopping-cart {
  align-items: flex-end;
  height: 40px;
  padding: 3px 10px;
}
.shoppingCardCounter{
  color: var(--main-color-dark);
  font-weight: bolder;
  font-size: 30px;
  /* padding: 3px 0; */
  position: absolute;
  bottom: 4px;
  right: -5px;
  font-family: var(--naratif-bold);
}

.hide{
  display: none;
}
.showe{
  display: unset;
}
/* --------------------------- media query tablet --------------------------- */
@media (min-width: 768px) {
  header {
    height: 5pc;
    justify-content: space-between;
  }
  header label {
    display: none;
  }
  header img {
    height: 3pc;
  }
  nav {
    display: flex;
    background-color: transparent;
    position: relative;
  }
  nav li {
    display: inline;
    padding: 0px;
  }
  nav ul {
    padding-top: 9px;
  }
  nav a {
    font-size: 1.4rem;
    padding: 0 5px;
    letter-spacing: 2px;
  }
  nav a:hover {
    color: var(--orange-color);
    text-decoration: underline;
  }

  .shopping-cart {
    padding: 15px 10px;
  }
  .shoppingCardCounter{
    bottom: 10px;
    right: -3px;
  }
}

/* --------------------------- media query laptop --------------------------- */
@media (min-width: 1024px) {
  nav {
    margin-right: 2pc;
  }
  nav a {
    font-size: 2rem;
  }
  nav ul {
    padding-top: 5px;
  }
}
