.size-chart {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-gap: 10px;
  justify-content: center;
}

.size-chart {
  font-family: var(--main-font);
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.in-stock {
  color: var(--main-color-dark);
  border: solid 2px var(--main-color-dark);
}

.in-stock:hover {
  cursor: pointer;
  color: var(--main-light-color);
  background-color: var(--main-color-dark);
}

.out-of-stock {
  border: solid 2px #c1c7d9;
  background-color: #c1c7d9;
  color: #a9b9d9;
}

.product {
  margin: 30px 20px;
}

.product-img {
  display: block;
  margin: 30px auto;
  width: 70%;
}

.info {
  display: flex;
}

.icons {
  width: 40px;
  height: 40px;
}

.center-content {
  display: block;
  margin: 20px auto;
}

a {
  text-decoration: none;
}

.breadcrums-link:hover {
  color: var(--orange-color);
  text-decoration: underline;
}

.breadcrums-link {
  color: var(--main-color-dark);
  text-decoration: underline;
}

.product-description {
  padding: 30px;
}

@media screen and (min-width: 600px) {
  main {
    width: 600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1460px) {
  main {
    width: 900px;
    margin: 0 auto;
  }
}
