.size-chart {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-gap: 10px;
  justify-content: center;
}

.size-chart {
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.in-stock {
  color: var(--main-color-dark);
  border: solid 2px var(--main-color-dark);
}

.in-stock:hover {
  cursor: pointer;
  color: var(--main-light-color);
  background-color: var(--main-color-dark);
}

.out-of-stock {
  border: solid 2px #c1c7d9;
  background-color: #c1c7d9;
  color: #a9b9d9;
}

.product {
  margin: 30px 20px;
}

.product-img {
  display: block;
  margin: 30px auto;
  width: 70%;
}

.info {
  display: flex;
}

.icons {
  width: 40px;
  height: 40px;
}

.center-content {
  display: block;
  margin: 20px auto;
}

a {
  text-decoration: none;
}

.breadcrums-link:hover {
  color: var(--orange-color);
  text-decoration: underline;
}

.breadcrums-link {
  color: var(--main-color-dark);
  text-decoration: underline;
}

.product-description {
  padding: 30px;
}

@media screen and (min-width: 600px) {
  main {
    width: 600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1460px) {
  main {
    width: 900px;
    margin: 0 auto;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 cartContetn                                */
/* -------------------------------------------------------------------------- */
.cartContent {
  border: black 1px solid;
  background-color: white;

  top: 37pc;
  width: 24pc;
  height: 80%;

  position: absolute;
  z-index: 1;
}
.cartContent {
  display: none;
}
.cartContent.show {
  display: block; 
}
.cartContent h4{
  font-family: var(--naratif-bold);
  text-align: center;
  font-size: 30px;
  color: var(--main-color-dark);
}
.cartContent p{
  text-align: center;
  font-weight: bolder;
}
.cartContent a{
  display: block;
  font-family: var(--naratif-bold);
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
  color: var(--main-color-dark);
}

@media screen and (min-width: 600px) {
  .cartContent {
  
    top: 28pc;
    width: 35pc;
    height: unset;
  
    position: absolute;
    z-index: 1;

    padding-bottom: 20px;
  }
  .product-img{
    width: 43%;
  }
}

@media screen and (min-width: 1024px) {
  .cartContent {
   width: 35pc;
  }
}
@media screen and (min-width: 1460px) {
  .cartContent {
   width: 800px;
  }
} 
.alignContent{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 300px;
  margin: 0 auto;

  cursor: pointer; 
}