@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Naratif-Bold";
  src: url("/fonts//Akufadhl-Naratif-Condensed-Bold-Italic.otf");
  font-family: "Naratif-Thin";
  src: url("/fonts/Akufadhl-Naratif-Condensed-Thin.otf");
}
:root {
  --main-light-color: #f2f2f2;
  --main-color-dark: #1e4959;
  --orange-color: #d54022;
  --naratif-bold: "Naratif-Bold", sans-serif;
  --naratif-thin: "Naratif-Thin", sans-serif;
  --main-font: "Montserrat", sans-serif;
}

body {
  margin-right: 0;
}
p,
label,
a,
input {
  font-family: var(--main-font);
}
h1 {
  font-size: 4rem;
}
h2,
h1 {
  font-family: var(--naratif-bold);
  text-transform: uppercase;
  position: relative;
  color: var(--main-color-dark);
  text-align: center;
  margin: 20px 0 30px 0;
}
h3 {
  font-family: var(--naratif-bold);
}
.vertical-center {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.img_section img {
  width: 100%;
}

/* ----------------------------- Header section ----------------------------- */
.header-image {
  background-image: url("/images/index-header-img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 250px;
  text-align: center;
}
.header-image h1 {
  margin: 0;
  font-family: var(--naratif-bold);
  text-transform: uppercase;
  /* font-size: 3rem; */
  position: relative;
  top: 35px;
  color: var(--main-color-dark);
  text-shadow: 2px 2px 2px var(--main-light-color);
}

/* --------------------------- Our Brand - Section -------------------------- */
.ourBrand_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.ourBrand_section img {
  opacity: 0.7;
  width: 20vw;
}

/* ---------------------------- Product - Section --------------------------- */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product_card {
  background: #fcfcfc;
  box-sizing: content-box;
  margin: 30px 10px;
  width: 200px;
  height: max-content;
  text-align: center;
  padding-bottom: 20px;
}
.product_card h3 {
  font-family: var(--naratif-bold);
  color: var(--main-color-dark);
}
.product_card p {
  padding: 0 10px;
  color: var(--main-color-dark);
}
.product_card img {
  width: 200px;
}

div.button {
  cursor: pointer;
}

.discound-icon img {
  position: absolute;
  width: 50px;
  padding: 7px;
  margin-left: 35px;
}

.product_card:hover {
  box-shadow: -20px 20px 60px #d6d6d6, 20px -20px 60px #ffffff;
}
/* ------------------------------- newsletter ------------------------------- */
.newsletter__container {
  background-color: var(--main-color-dark);
  color: var(--dark-color);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
}
.newsletter__title {
  font-size: 20px;
  color: var(--main-light-color);
  margin-bottom: 1rem;
}

.newsletter__description {
  margin-bottom: 2.5rem;
  color: var(--main-light-color);
}
.newsletter__subscribe {
  display: flex;
  column-gap: 0.5rem;
  background-color: var(--main-light-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.sub_link {
  text-decoration: none;
  color: var(--dark-color);
  align-self: center;
}
input[type="text"].newsletter__input {
  outline: none;
  border: none;
  width: 90%;
  font-size: var(--normal-font-size);
  background-color: var(--main-light-color);
  height: 30px;
  width: 80%;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.newsletter__input::placeholder {
  color: var(--dark-color);
  font-family: var(--main-font);
}

.mountain-img img {
  width: 100%;
}

/* Button Style */
button,
.button {
  cursor: pointer;
  border-radius: 20px;
  width: 180px;
  height: 35px;
  text-transform: uppercase;
  border: 2px solid var(--orange-color);
  background: linear-gradient(145deg, #f24927, #cb3d20);
  font-size: 1.5rem;
  color: var(--main-light-color);
  font-family: var(--naratif-bold);
  outline: 0;
  text-align: center;
}

button:hover,
.button:hover {
  color: var(--orange-color);
  background-color: #fcfcfc;
  background: linear-gradient(145deg, #fcfcfc, #fcfcfc);
  box-shadow: 0px 0px 5px #c03a1f, 0px 0px 5px #ff4e29;
}

button:focus {
  border: none;
}
/* --------------------------- media query tablet --------------------------- */
@media screen and (min-width: 600px) {
  .ourBrand_section {
    max-width: 65pc;
    margin: 45px auto;
  }
}

/* --------------------------------- footer --------------------------------- */

footer {
  padding: 10px 0;
  background-color: var(--main-color-dark);
  display: grid;
  justify-content: center;
  color: var(--main-light-color);
  align-items: center;
  grid-template-columns: auto;
}
footer .logo {
  margin: 20px auto;
  width: 200px;
  display: block;
}

footer li {
  text-align: center;
  list-style: none;
  margin: 10px 0;
}
footer li:hover {
  text-decoration: underline;
}
footer ul {
  padding: 0;
}
footer ul a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 10px 0;
}
.social_links {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.icons {
  width: 50px;
  margin: 0 10px;
}
/* ------------------------------ about us page ----------------------------- */
.aboutUs_grid {
  display: grid;
  justify-content: center;
  grid-gap: 15px;
  margin: 20px;
}

.hiring {
  text-align: center;
  display: grid;
  text-transform: capitalize;
  margin: 20px;
}

.hiring > a {
  padding: 10px 0;
  text-align: center;
  display: grid;
  text-transform: capitalize;
  color: var(--orange-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.hiring > a:hover {
  font-weight: bold;
  z-index: inherit;
  text-decoration: underline;
}

/* ------------------------------ Contact page ------------------------------ */
.main_content {
  display: grid;
  justify-content: center;
}

.contact_info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 30px;
}

.contact_info > .icons > img {
  height: 30px;
}

.contact_form {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 3px 63px #00000029;
  padding: 30px;
}

.form_input {
  margin: 30px 20px;
}

input[type="text"],
[type="email"],
textarea {
  height: 30px;
  width: 80%;
  border-radius: 4px;
  border: 2px solid #ff7243;
  margin-top: 10px;
  padding: 12px 20px;
  margin: 8px 0;
}

label::after {
  content: "";
  display: block;
}

@media screen and (min-width: 600px) {
  .contact_info {
    display: grid;
    align-items: center;
  }

  .main_content {
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
  }
}
.styleMessage{
  border: 2px solid var(--main-color-dark);
  background: rgba(30, 73, 89,  0.1);
  color: var(--main-color-dark);
  border-radius: 4px;
  padding: 30px;
  margin: 40px;

}

.error{
  border: 2px solid darkred;
  background: rgba(255, 0, 0, 0.1);
  color: darkred;
  border-radius: 4px;
  padding: 30px;
  margin: 40px;

}

@media screen and (min-width: 1024px) {
  .main_content {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .styleMessage{
    margin: unset;
    margin-top: 20px;
  
  }
}

/* ---------------------------- checkout success ---------------------------- */
.section {
  display: grid;
  justify-content: center;
  padding: 40px;
}

.section h1 {
  text-align: center;
}

.section img {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

@media screen and (min-width: 1024px) {
  .section {
    width: 800px;
    margin: 45px auto;
  }
}

/* --------------------------- Tablet media queri --------------------------- */
@media screen and (min-width: 600px) {
  .header-image {
    min-height: 300px;
  }
  .newsletter__container {
    padding: 1rem 2rem;
  }
  .newsletter__subscribe {
    width: 30pc;
  }
  .newsletter__title {
    font-size: 34px;
  }

  footer {
    grid-template-columns: 300px 300px;
  }
  .links {
    grid-column: 2;
    grid-row: 1/3;
  }
  footer .logo {
    grid-row: 2;
  }
  .copyright {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding: 20px;
  }
  footer ul {
    grid-column: 2;
    grid-row: 1/4;
  }
  .aboutUs_grid {
    grid-template-columns: 1fr 1fr;
  }
}
/* --------------------------- Laptop media queri --------------------------- */
@media screen and (min-width: 1024px) {
  .header-image {
    min-height: 490px;
  }
  .header-image h1 {
    font-size: 5pc;
    top: 3pc;
  }
  h2 {
    font-size: 3rem;
  }

  .aboutUs_grid {
    grid-template-columns: 450px 450px;
  }
  footer {
    grid-template-columns: 500px 500px;
  }
  .max-with {
    width: 900px;
    margin: 0 auto;
  }
  .ourBrand_section img {
    width: 200px;
  }
}
@media screen and (min-width: 1440px) {
  .header-image {
    height: 563px;
  }
  .header-image h1 {
    font-size: 7pc;
    top: 1pc;
  }
}
@media screen and (min-width: 2560px) {
  .header-image {
    height: 800px;
  }
  .header-image h1 {
    font-size: 8pc;
    top: 5pc;
  }
}
